.App {
  background-color: #222;
  width: 100%;
  min-height: 100vh;
  padding: 30px 0;
}

.Boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
}

.Box {
  flex-basis: 93px;
  height: 93px;
  border-radius: 5px;
  margin: 3px;
}

.Box:hover {
cursor: pointer;
}